@media screen and (max-width: 540px) {
    body{
        font-size: 0.9em;
    }
    header{
        overflow: hidden;
    }
    nav{
        position: relative;
        padding: 12px;
    }
    nav #bars{
        display: block;
        cursor: pointer;
    }

    nav .links{
        width: 50%;
        top: 50px;
        right: -300px;
        position: absolute;
        display: flex;
        flex-direction: column;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0px 2px 6px #33333346;
        padding: 12px;
        z-index: 98;
        transition: 0.5s ease;
    }

    nav .links a{
        margin-bottom: 10px;
        border-radius: 5px;
        transition: 0.5s;
    }

    nav .links a:hover{
        background: #00000005;
    }

    .links.small{
        right: 13px;
    }


    /* hero */

    .hero{
        padding-inline: 22px;
        gap: 5px;
        flex-direction: column-reverse;
        height: 100dvh;
    }

    .hero-img{
        width: 100%;
        height: 400px;
        border-radius: 0%;
    }

    .hero-cont{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .hero-cont p{
        text-align: center;
    }

    .hero-cont button{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .hero-social{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }

    /* about */
    .about-top{
        width: 100%;
        margin-top: 30px;
    }

    .about-top p{
        width: 100%;
        text-align: center;
    }

    .about-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 6px;
    }
    .about-body-img{
        width: 300px;
        height: 400px;
        background: rebeccapurple;
    }

    /* .skills-cont */
    .skills{
        padding: 22px;
    }
    .skills-cont{
        width: 100%;
        flex-direction: column;
    }
    .skill-set-one{
        width: 100%;
    }

    /* services */
    .services-top{
        padding: 22px;
    }

    .service-cards{
        flex-direction: column;
    }

    .service-card{
        width: 100%;
    }

    /* .portifolio */
    .portifolio{
        padding: 22px;
    }


    .slides .slide{
        flex-direction: column;
        padding-inline: 22px;
    }

    .slide .img{
        padding-inline: 22px;
    }

    .slide .slide-cont{
        padding-inline: 22px;
    }

    /* .me */
    .me{
        padding-inline: 22px;
    }

    .me-cotent{
        padding-left: 0%;
    }

    .me-img{
        width: 200px;
        height: 200px;
    }

    /* .Testimonials */
    .Testimonials{
        padding-inline: 22px;
    }

    .testimonial{
        flex-direction: column;
    }

    /* .contact-wrapper */
    .contact-wrapper{
        padding: 22px;
    }

    .contact{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .left{
        width: 100%;
    }

    .left .call-me{
        margin-bottom: 10px;
    }

    /* footer-content */
    footer {
        font-size: 0.9em;
    }
    footer h2 {
        font-size: 16px;
    }

    .copy-ryt{
        padding-inline: 22px;
        gap: 10px;
    }
}

@media  screen and (max-width: 780px) {
    .hero {
        padding-inline: 22px;
    }

    .hero-cont{
        padding:0%;
    }

    .hero-img{
        width: 200px;
        height: 200px;
    }

    /* about */
    .About{
        padding: 0%;
    }

    .about-body{
        padding-inline: 40px;
    }

    .about-body-img{
        width: 100%;
        height: 300px;
    }

    /* skills */
    .skills{
        padding: 0px;
        padding-block: 40px;
    }

    .skill-set-one{
        width: 100%;
        padding: 0%;
        padding-inline: 40px;
    }

    .skills-cont{
        width: 100%;
        padding: 0%;
        gap: 10px;
    }

    /* .services */
    .services{
        padding: 0%;
    }

    .service-cards{
        padding-inline: 60px;
    }

    /* .portifolio */
    .portifolio{
        overflow: hidden;
    }

    .slide.active{
        padding: 12px;
    }

    .controls{
        width: 80%;
        left: 80px;
        display: flex;
        align-items: center;
    }

    .controls button{
        position: relative;
    }


    /* .me */
    .me{
        padding: 0%;
        padding-inline: 20px;
        margin-top: 60px;
    }

    .me-cotent{
        padding: 0%;
        padding-inline: 10px;
    }

    /* .testimonial */
    .testimonial{
        padding: 0%;
    }
    .Testimonials{
        width: 100%;
        padding: 0%;
        padding-inline: 20px;
    }

    /* .contact */
    .contact{
        padding-block: 20px;
        margin-top: 60px;
    }
    .contact-wrapper{
        padding: 0%;
        padding-inline: 20px;
        padding-block: 20px;
    }

    form{
        padding: 12px;
        border-radius: 5px;
        box-shadow: 0px 5px 6px #33333346;
    }

    /* footer */
    .footer-content{
        padding: 0%;
        padding-inline: 20px;
        padding-block: 40px;
        gap: 10px;
    }

    .footer-nav,.footer-socials{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .footer-About h2{
        text-align: center;
        align-items: center;
    }

    .foot-links{
        gap: 0px;
    }

    .copy-ryt{
        padding: 10px;
    }
}